@model EjercicioWeb3.Models.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Agregar / Editar Usuario</title>
</head>
<body>
    <h1>Agregar / Editar Usuario</h1>

    @if (!String.IsNullOrWhiteSpace(ViewBag.Mensaje))
    {
        <div class="alert alert-warning col-4" role="alert">
            @ViewBag.Mensaje
        </div>
    }

        <div class="middle-box text-center animated fadeInDown col-4">
            @using (Html.BeginForm("GuardarUsuario", "User", FormMethod.Post, new { @class = "form", role = "form", @id = "UserForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                <div class="input-group mb-3">
                    <label for="Nombre"><b>Nombre</b></label>
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", type = "text", placeholder = "Nombre", @required = "required" })
                </div>
                <div class="input-group mb-3">
                    <label for="Nombre"><b>Apellidos</b></label>
                    @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control", type = "text", placeholder = "Apellidos", @required = "required" })
                </div>
                <div class="input-group mb-3">
                    <label for="Email"><b>Email</b></label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "text", placeholder = "Email", @required = "required" })
                </div>
                <div class="input-group mb-3">
                    <label for="TelefonoMovil"><b>Telefono M&oacute;vil</b></label>
                    @Html.TextBoxFor(m => m.TelefonoMovil, new { @class = "form-control", type = "text", placeholder = "Telefono Movil", @required = "required" })
                </div>
                if(Model.Id == 0)
                {
                    <div class="input-group mb-3">
                        <label for="Contrasena"><b>Contrase&ntilde;a</b></label>
                        @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control", placeholder = "Contraseña", @required = "required" })
                    </div>

                    <div class="input-group mb-3">
                        <label for="ConfirmarContrasena"><b>Confirmar Contrase&ntilde;a</b></label>
                        @Html.PasswordFor(m => m.ConfirmarContrasena, new { @class = "form-control", placeholder = "Confirmar Contraseña", @required = "required" })
                    </div>
                } else
                {
                    <div>Contraseña capturada</div>
                }
            <div class="input-group mb-3">
                <label for="RolId"><b>Rol</b></label>
                @Html.DropDownListFor(model => model.RolId, Model.Roles, "Seleccione un rol", new { @class = "form-control", @required = "required" })
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Guardar</button>
                @Html.ActionLink("Cancelar", "Index", "User", new { @class = "btn btn-info" })
            </div>
            }
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function Test() {
            alert('hi');
        }
    </script>

</body>
</html>
